

{% block main_content %}
<div id="placeholder"></div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ ONLYOFFICE_APIJS_URL }}"></script>
<script type="text/javascript">

var config = {
    "document": {
        "fileType": "docx",
        "key": "{{doc_key}}",
        "title": "{{doc_title}}",
        "url": "{{doc_url}}",
    },
    "documentType": "text",
    "editorConfig": {
        "callbackUrl": "{{ callback_url }}",
    },
}; 
var docEditor = new DocsAPI.DocEditor("placeholder", config);
</script>
{% endblock %}
